lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

app/config/database.js
app/config/auth.js
client/node_modules
client/www
https://github.com/gick/moggle-game.git